{% extends 'layout.html.twig' %}

{% block title %}Страница категории{% endblock %}

{% block body %}
  <h1>Страница категории</h1>
  <p>{{ category.id }}</p>
  <p>{{ category.name }}</p>
{% endblock %}